/* colors: #F3825F #563761 #A7425C #FFE26F */
body {
  background-color: #264653;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238a2fa9'/%3E%3Cstop offset='1' stop-color='%238a2fa9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232a7076'/%3E%3Cstop offset='1' stop-color='%232a7076' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2379d52b'/%3E%3Cstop offset='1' stop-color='%2379d52b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23264653'/%3E%3Cstop offset='1' stop-color='%23264653' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E76F51'/%3E%3Cstop offset='1' stop-color='%23E76F51' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232A9D8F'/%3E%3Cstop offset='1' stop-color='%232A9D8F' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "raleway";
}
.game-title {
  padding: 5% 10%;
  text-align: center;
  font-family: 'Nosifer', cursive;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 0 0 10px black;
  word-spacing: 10px;
  line-height: 1.5;
}
.container {
  margin: auto;
  max-width: 80%;
  background-color: #3d405b;
  font-family: 'Nosifer', cursive;
  font-size: 30px;
  word-spacing: 10px;
  line-height: 1.5;
  color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 0 10px black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.btn-grid {
  display: grid;
  grid-template-columns: flex;
  gap: 10px;
  margin-top: 20px;
  font-family: raleway;
}
.title-link {
  text-decoration: none;
  color: #f3825f;
}
.title-link:hover {
  color: #FFE26F;
}
.btn {
  font-family: 'Nosifer', cursive;
  background-color: #a7425c;
  border: 1px solid #563761;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  text-shadow: 0 0 10px #000;
}
.btn:hover {
  background-color: #563761;
}
